<!DOCTYPE html>
<html lang="en" style="background-image: url('../static/image/wallpaper.jpg');
background-attachment: fixed;">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TecNews Post</title>
    <!--<link rel="stylesheet" href="{{url_for('static',filename='css//style.css')}}">-->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <!-- https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js  -->

<body>
    <div name = "News">
    </div>
    <div class="mb-10 top-1 w-screen flex flex-col justify-center items-center">
        <img src="../static/image/logo.png" class="w-64 h-64" alt="Logo Image">
    </div>
    <div class="bottom-6 m-auto relative" id="container" style="width:614px; height:700px;">
        <img src="" id="bg1" width="614px" height="700px">
        <span class=" font-mono text-lg absolute text-black whitespace-pre-line text-justify" id="News"
            style="width: 550px; top: 100px; left: 30px; line-height: 2em;">
            {{News|safe}}
            <!-- These curly braces are a gateway for python variables and functions (via flask) to Front-end. This is done with the help of Jinja template engine.-->
        </span>
    </div>
    <div id="canvasWrapper" class="mb-10 w-screen flex justify-center items-center">
        <button
            class="text-black p-3 rounded-md font-sans text-xl bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500"
            onclick="download()">Download Post</button>
    </div>

    <script>
        var newbg = document.getElementById("bg1");
        var background = new Image();
        background.src = "static/image/" + (Math.floor(Math.random() * (7)) + 1) + ".png";
        newbg.src = background.src;
        console.log(newbg.src);
    </script>
    <script src="/static/js/h2c.min.js"></script>
    <script>
        function download() {
            html2canvas(document.getElementById("container"), { height: 700, width: 614 }).then(canvas => {
                //document.body.appendChild(canvas);
                var a = document.createElement('a');
                a.href = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");
                a.download = 'somefilename.png';
                a.click();
            });
        }
    </script>
</body>


</html>